/* variable de colores */
:root {
    --color-violeta: #6b53f0;
    --color-negro: #201b24;
    --color-blanco: #ddd;
    --color-gris: #888;
}


/* genericos */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button.redondo {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 42px;
}
button.redondo span {
    margin-left: 10px;
    /* display: inline-block; */
    /* transform: scaleX(1.2) scaley(0.6);  */
}

button.violeta {
    border: 2px solid #6b53f0;
    color: var(--color-violeta);
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 32px;
}

img{
    width: 100%;
    background-size: center;
    background-attachment: fixed;
    background-size: cover;
}


/* NAVBAR */
.navbar {
    border-bottom: 1px solid gray; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.header-left {
    margin-right: 40px;
    margin-left: 30px;
}
.header-left img {
    width: 170px;
    height: 85px;
}

.header-right-bigScreens {
    display: none;
}

.header-right-smallScreens {
    display: flex;
    justify-content: space-between;

}

.header-right-smallScreens i {
    font-size: 24px;
    /* margin-right: 25px; */
    padding-right: 30px;
}

/* MAIN */
#introduction-text{
    text-align: center;
    padding: 80px 30px 10px 30px;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
}

div#introduction-actions {
    margin-bottom: 100px;
}
div#introduction-actions span{
    margin-left: 10px;
    /* display: inline-block; */
    /* transform: scaleX(1.2) scaley(0.6);  */
}


/* .IMPACTO */
.impacto-background-black {
    color: var(--color-blanco);
    background-color: var(--color-negro);
    padding-top: 120px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
}

.impacto-text {
    font-size: 17px;
}

.impacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 60px 0;
}

.impacto-container-plus {
    display: flex;
    align-items: center;
}

.impacto-big-number{
    font-size: 55px;
    font-weight: 900;
    margin: 40px 0 5px 0; 
}

.impacto-big-sign{
    color: var(--color-violeta);
    font-size: 30px;
    font-weight: 600;
    margin-right: 5px;
}

.impacto-small-word {
    color: var(--color-gris);
}


/* FONDO PARALAX */
/* SOLO EN PANTALLAS GRANDES */
.paralax {
    display: none;
}


/* .PROGRAMAS  && .CAPACITACIONES */

.programs, .capacitations {
    margin: 20px 10px;
    padding: 20px;
}

    /* caja 2 */
.xacademy-program-image img, .capacitations-box1 img {
    border-radius: 0 35px 35px 35px;
    margin-bottom: 15px;
}

.capacitations-box4 img {
    border-radius: 35px 35px 0 35px;
    margin-bottom: 15px;
}

.programs-box2-img-container {
    padding: 0 40px;
}
.programs-box2-img-container p, .capacitations-box2 p, .capacitations-box3 p {
    line-height: 21px;
}

    /* caja 3 */
.programs-box3, .capacitations-box2, .capacitations-box3 {
    margin: 40px 0 20px 0;
    padding: 0 40px;
}

.programs-box3 h4, .capacitations-box2 h4, .capacitations-box3 h4 {
    font-size: 21px;
    width: 80%;
}

    /* caja 4 */
.programs-box4 img {
    border-radius: 0 0 0 35px;
}


/* .EQUIPO */

.circle-icon {
    display: inline-block;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    border: 2px solid #000;
    text-align: center;
    line-height: 30px; 
  }
  
  .circle-icon i {
    color: #000; 
    font-size: 15px;
  }







/* .ALIANZAS */

/* FOOTER */

.footer-container{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    padding: 50px 8px 80px 8px;
}

.footer-icon {
    width: 200px;
    height: 50px;
    margin: 0px 20px 5px 30px;
}

.footer-text {
    margin: 10px 10px 0px 30px;
    font-size: 13px;
    line-height: 18px;
}

.footer-small-container{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 15px 30px;
}
.link {
    text-decoration: none;
    color: var(--color-blanco);
    font-size: 16px;
    font-weight: 800;
}
